$blue: #36aeff;
$darkblue: #1f7fff;

.gauge {
  display: inline-block;
  position: relative;
  width: 10rem;
  height: 5rem;
  overflow: hidden;
}

.gauge:before,
.gauge:after,
.meter {
  position: absolute;
  display: block;
  content: '';
}

.gauge:before,
.meter {
  width: 10rem;
  height: 5rem;
}
.gauge:before {
  border-radius: 5rem 5rem 0 0;
  background: #2a2a2a;
}

.gauge:after {
  position: absolute;
  bottom: 0;
  left: 2.5rem;
  width: 5rem;
  height: 2.5rem;
  background: #222;
  border-radius: 2.5rem 2.5rem 0 0;
}

.meter {
  top: 100%;
  transition: 1.5s;
  transform-origin: center top;
  border-radius: 0 0 6rem 6rem;
  background: deepskyblue;
}

/* Overload effect ==================== */
.shake {
  transform-origin: center center;
  animation: overload 0.15s 0.5s infinite;
}

/* Gauge with percentage indicator ============== */
.percentage .meter {
  background: $blue;
}

.percentage-container {
  position: absolute;
  bottom: -0.75rem;
  left: 2.5rem;
  z-index: 1000;
  width: 5rem;
  height: 2.5rem;
  overflow: hidden;
}

.percentage-indicator {
  font: bold 1.5rem/1.6 'Gamja';
  color: $blue;
  line-height: 2.5rem;
  white-space: pre;
  vertical-align: baseline;
  user-select: none;
  text-align: center;
}

.blue {
  .meter {
    animation-delay: 0.4s;
    background: $darkblue;
  }

  .percentage-indicator {
    color: $darkblue;
  }
}

.red {
  .meter {
    animation-delay: 0.4s;
    background: #aa2732;
  }

  .percentage-indicator {
    color: #aa2732;
  }
}

.percentage .meter {
  animation-delay: 0.8s;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 2.4rem;
}

p {
  margin: 0 0 12px;
  text-align: center;
}

@keyframes overload {
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: rotate(-1deg);
  }
  75% {
    transform: translateX(1px);
  }
}
